[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
argconfigparse = "*"
console-menu = "*"
humanfriendly = "*"
rich = "*"
xattr = "*"

[requires]
python_version = "3"
